@import "tailwindcss";

:root {
    --background: #000000;
    --foreground: #dddddd;
}

html {
    max-width: 100svw;
}

* {
    box-sizing: border-box;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-neutral-light: #cccccc;
    --color-neutral-dark: #777777;

    --color-danger: #ff5151;
    --color-success: #47b960;

    --color-primary: #7695ec;

    --font-sans: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
        --foreground: #dddddd;
    }
}

body {
    background: var(--foreground);
    color: var(--background);
    font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
    min-height: 100vh;
    max-width: 100svw;
    overflow-x: hidden;
}

button,
a {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:not([disabled]):active,
a:not([disabled]):active {
    opacity: 0.6;
}

textarea {
    resize: none;
    outline: none;
}
